<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Mi pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="pedido">
    <ion-item-group>
      <ion-card-title>Estado: {{pedido.estado | estado}}</ion-card-title>
      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-label>Mesa: {{pedido.mesa}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Descuento: {{pedido.descuento | descuento}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Total: ${{pedido.total}}</ion-label>
      </ion-item>
    </ion-item-group>
    
    <ion-card-content>
      <ion-list>
        <ion-card-title>Usted ordenó:</ion-card-title>
        <ion-item *ngFor="let plato of pedido.platos">
          <ion-avatar slot="start">
            <img src={{plato.img1}}>
          </ion-avatar>
          <ion-label>
            <h3>{{plato.nombre}}</h3>
            <p>{{plato.descripcion}}</p>
          </ion-label> 
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-button (click)='llegoPedido(pedido)'>Llegó pedido?</ion-button>
    <ion-button (click)='openModal("cuenta")'>Pedir cuenta</ion-button>
    <ion-button (click)='openModal("encuesta")'>Encuesta</ion-button>
    <ion-button (click)='openModal("juego")'>Juego</ion-button>
  </ion-card>
  

</ion-content>
