<ion-header >
  <ion-toolbar  color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Registro Plato y Bebida</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content style="--background:white">
  <ion-toolbar class="tarj" style="margin-top: 5rem;">
    <ion-title>Comida</ion-title>
    <br>
    <form [formGroup]="form" >
      <ion-item class="full-width-input">
        <ion-label position='floating'>Nombre</ion-label>
        <ion-input type="text" formControlName="nombre"></ion-input> 
      </ion-item>
      <br>
      <ion-item class="full-width-input">
        <ion-label position='floating'>Descripcion</ion-label>
        <ion-input type="text" formControlName="descripcion"></ion-input> 
      </ion-item>
      <br>
      <ion-item class="full-width-input">
        <ion-label position='floating'>Precio</ion-label>
        <ion-input type="number" formControlName="precio"></ion-input> 
      </ion-item>
      <br>
      <ion-item class="full-width-input">
        <ion-label position='floating'>Tipo</ion-label>
        <ion-select formControlName="tipo">
          <ion-select-option *ngFor="let tipo of tipoAlta" [value]="tipo.value">
            {{tipo.viewValue}}
          </ion-select-option>
        </ion-select> 
      </ion-item>
      <br>
      <ion-item class="full-width-input">
        <ion-label position='floating'>Foto 1: </ion-label>
        <ion-input type="text" formControlName="img1" readonly></ion-input> 
      </ion-item>
      <ion-button style="width: 50%;" color='secondary' (click)="tomarFoto('img1')">Foto</ion-button>
      <br>
      <ion-item class="full-width-input">
        <ion-label position='floating'>Foto 2: </ion-label>
        <ion-input type="text" formControlName="img2" readonly></ion-input> 
      </ion-item>
      <ion-button style="width: 50%;" color='secondary' (click)="tomarFoto('img2')">Foto</ion-button>
      <br>
      <ion-item class="full-width-input">
        <ion-label position='floating'>Foto 3: </ion-label>
        <ion-input type="text" formControlName="img3" readonly></ion-input> 
      </ion-item>
      <ion-button style="width: 50%;" color='secondary' (click)="tomarFoto('img3')">Foto</ion-button>
      <br>

      <ion-button style="width: 50%;" [hidden]="ocultarVerificar"  color='secondary' *ngIf="logeando"  (click)="crear()">Crear</ion-button>
    </form>
  </ion-toolbar>
</ion-content>
