<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Listado de Platos</ion-list-header>
    <ion-item *ngFor="let plato of listaPlatos">
      <ion-avatar slot="start">
        <img src={{plato.img1}}>
      </ion-avatar>
      <ion-label>
        <h3>{{plato.nombre}}</h3>
        <p>{{plato.descripcion}}</p>
        <p>${{plato.precio}}</p>
      </ion-label>
      <ion-button color="success" (click)='agregar(plato)'><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar >
    <ion-title (click)='openModal()'>Ver pedido - ({{items.length}}) items - Total: ${{total}}</ion-title>
  </ion-toolbar>
</ion-footer>
